---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html {
	padding: 30px 15px;
    font-family: "Roboto Mono", consolas, monaco, courier, "courier new", fixed-width;
    background-color: rgb(23, 24, 28);
    color: rgb(232, 231, 227);
}

body { max-width: 500px }

img {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 500px;
}
img.small { max-width: 300px }

* {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

h1 { margin: 0; font-size: 20pt }
h2 { font-size: 13pt; }

.grey { color: #999; }

/**/
a { color: #ff0077 }
a { color: rgb(255, 51, 146) }
/*a:hover { color: #f1a0bb }*/

.padded-list li:not(:last-child) { padding-bottom: 15px }

@media screen and (min-width: 580px){
	html { padding: 40px }
	img { margin: 0 }
}

.project-description {
    //white-space: nowrap;
    display: none;
    width: 500px;
    
    color: #999999;
}

@media screen and (min-width: 750px){
	.project-description { 
        display: inline-block;
        width: 700px;
    }
}

/*

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        //"base",
        //"layout",
        "syntax-highlighting"
;*/
