html {
	padding: 30px 15px;
	font-family: consolas, monaco, courier, "courier new", fixed-width;
}

body { max-width: 500px }

img {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 500px;
}
img.small { max-width: 300px }

* {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

h1 { margin: 0; font-size: 20pt }
h2 { font-size: 13pt; }

.grey { color: #999; }

a { color: #ff0077 }
a:visited { color: #dd0055 }

.padded-list li:not(:last-child) { padding-bottom: 15px }

@media screen and (min-width: 580px){
	html { padding: 40px }
	img { margin: 0 }
}